%form{:method=>'post', :action=>'/a/add'}
  %fieldset
    %input{:type=>'text', :name=>'endpoint'}
    %button{:type=>'submit'}>Add

- if endpoints.empty?
  %p
    There are no endpoints yet (add the first one above).
- else
  %p
    Your endpoints are:
  %ul
    - endpoints.each do |e|
      %li
        %code
          =e.uri
        %a{:href=>'/a/del?endpoint=' + URI.escape(e.uri)}
          delete

