%form{:method=>'post', :action=>'/a/add'}
  %fieldset
    %input{:type=>'text', :name=>'endpoint', :size=>'50', :placeholder=>'URI of a new endpoint'}
    %button{:type=>'submit'}>Add

- if endpoints.empty?
  %p
    There are no endpoints yet (add the first one above).
- else
  %p
    Your endpoints are:
  - endpoints.each do |e|
    %p
      =EpUri.new(e).to_html
      %a{:href=>'/a/del?endpoint=' + URI.escape(EpUri.new(e).to_url)}
        delete
    %ul
      %li
        Availability:
        =EpAvailability.new(e).full
      %li
        State:
        =EpState.new(e).to_html
      %li
        Next ping on:
        =e.to_h[:expires]
