-# SPDX-FileCopyrightText: Copyright (c) 2017-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  = EpUri.new(e).to_html
%p
  = EpBadge.new(e).to_html(amp: true)
%p
  Availability:
  %strong= EpAvailability.new(e).full
%p
  Average:
  %strong= EpGraph.new(e).avg_full
%p
  - if e.to_h[:flipped]
    Flipped:
    %strong
      =time_ago(e.to_h[:flipped]) + ' ago'
%p
  Created:
  %strong
    =time_ago(e.to_h[:created]) + ' ago'
