%p.large.tight.bold
  = EpUri.new(e).favicon('big')
  = EpUri.new(e).to_html

%p
  = EpBadge.new(e).to_html

-#%p
-#  =EpGraph.new(e).to_html

%ul.menu-vertical
  %li
    ID:
    %code
      =e.to_h[:id]
  %li
    URI:
    %code
      =EpUri.new(e).to_s
  %li
    State:
    =EpState.new(e).to_html

  %li
    Availability:
    =EpAvailability.new(e).full

  %li
    Avg:
    =EpGraph.new(e).avg_full

  %li
    Created on:
    =e.to_h[:created]

  %li
    Flipped on:
    =e.to_h[:flipped]

  %li
    Age:
    =TimeDifference.between(e.to_h[:created], Time.now).humanize

  %li
    Next ping on:
    =e.to_h[:expires]

  - if e.to_h[:log]
    %p
      Most recent failed HTTP request log:
    %pre=html_escape(e.to_h[:log])
