%p
  =EpUri.new(e).to_html

%p
  =EpBadge.new(e).to_html

%p
  =EpGraph.new(e).to_html

%p
  ID:
  %code
    =e.to_h[:id]

%p
  URI:
  %code
    =EpUri.new(e).to_s

%p
  State:
  =EpState.new(e).to_html

%p
  Availability:
  =EpAvailability.new(e).full

%p
  Avg:
  =EpGraph.new(e).avg_full

%p
  Created on:
  =e.to_h[:created]

%p
  Flipped on:
  =e.to_h[:flipped]

%p
  Age:
  =TimeDifference.between(e.to_h[:created], Time.now).humanize

%p
  Next ping on:
  =e.to_h[:expires]

- if e.to_h[:log]
  %p
    Most recent failed HTTP request log:
  %pre=html_escape(e.to_h[:log])
