%p
  =EpUri.new(e).to_html

%p
  =EpBadge.new(e).to_html

%p
  =EpGraph.new(e).to_html

%p
  ID:
  %code
    =e.to_h[:id]

%p
  URI:
  %code
    =EpUri.new(e).to_s

%p
  State:
  =EpState.new(e).to_html

%p
  Availability:
  =EpAvailability.new(e).full

%p
  Avg:
  =EpGraph.new(e).avg_full

%p
  Created on:
  =e.to_h[:created]

%p
  Age:
  =TimeDifference.between(e.to_h[:created], Time.now).humanize

%p
  Next ping on:
  =e.to_h[:expires]

%p
  Most recent HTTP request log:

%pre
  =e.to_h[:log]
