%p
  SixNines is a 24x7 monitor of your website
  availability. Just login, add one of your endpoints,
  and in a few minutes you get a detailed report.
  We ping all websites a few times per minute.

%form{:method=>'get', :action=>'/'}
  %fieldset
    %input.text.b.f-span8{placeholder: 'Your keyword for URI', type: 'text', name: 'q', value: query}
    %button.button-blue.light.b.f-span3{type: 'submit'} Search

- if query
  %p
    Found by
    ='"' + query + '":'
  - if found.empty?
    %p
      Nothing! Sorry about that.
  - else
    %ul
      - found.each do |e|
        %li
          =EpUri.new(e).to_html
          =EpBadge.new(e).to_html

- if !flips.empty?
  -#%p
  -#  Recent
  -#  =flips.size
  -#  flips:
  %p
    %ul.menu-vertical
      - flips.each do |e|
        %li
          =EpUri.new(e).favicon('small')
          =EpUri.new(e).to_html
          =EpBadge.new(e).to_html
          %span.gray= e.to_h[:flipped]