%form{:method=>'get', :action=>'/'}
  %input{placeholder: 'Your keyword for URI', type: 'text', size: '55', name: 'q', value: query}
  %button{type: 'submit'} Search
- if query
  - if found.empty?
    %p
      Nothing! Sorry about that.
  - else
    %p
      Found by
      ='"' + query + '":'
    %ul.list-v
      - found.each do |e|
        %li
          =EpUri.new(e).to_html
          =EpBadge.new(e).to_html
- if !flips.empty?
  %p
    Check out
    =flips.size
    recent
    = 'flip'.pluralize(flips.size) + '.'
    Click on badge for detailed report.
    Find endpoints and get detailed report. We ping all websites a few times per minute.
  %p
    %ul.menu-vertical
      - flips.each do |e|
        %li
          =EpUri.new(e).favicon('small')
          =EpUri.new(e).to_html
          =EpBadge.new(e).to_html
          %span.light
            = ago(Time.now, e.to_h[:flipped])
            ago
