%html
  %head
    %title sixnines
    %meta{:charset => 'UTF-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'keywords', :content => 'availability, six nines, web site'}
    %meta{:name => 'description', :content => 'Hosted web site availability checker'}
    %link{:type => 'text/css', :href => url('css/sixnines.css'), :rel => 'stylesheet'}
    %link{:rel => 'shortcut icon', :href => '/images/favicon.png'}
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'}
    %script{src: 'https://use.fontawesome.com/fd6d9d1f31.js'}
    %script{:src => 'https://checkout.stripe.com/checkout.js'}
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a.no-underline{:href => '/'}
                %img.avatar{src: url('images/sixnines.svg')}
              %span.shadowed 24x7 website availability monitor.
            - if defined? user
              %li.right
                %ul
                  %li
                    %a.bold.dark{:href=>'/a'}
                      %img.avatar{src: 'http://cf.jare.io/?u=http://www.yegor256.com/images/yegor-bugayenko-192x192.png', width: '50px'}
                  %li
                    %a{:href=>'/logout'}
                      Logout
            - else
              %li.right
                %a.no-underline{:href=>login_link}
                  %i.fa.fa-toggle-off
                  Sign-in
      %p.light
        = '---'
      %article.content
        =yield
      %footer
        %p.light
          = '---'
        %nav.light
          %ul
            %li
              %span.badge= ver
              路
            %li
              %a.light.bold{:href => '/terms'} Terms of use
              路
            %li
              Contribute to
              %i.fa.fa-github.light
              %a.light.bold{:href => 'http://www.yegor256.com'}
                GitHub Repo
          %ul
            %li
              Follow us
              %i.fa.fa-twitter.light
              %a.light.bold{:href => 'https://twitter.com/sxnns'} sxnns
              路
            %li
              Subscribe to
              %i.fa.fa-rss.light
              %a.light.bold{:href => '/rss'} latest news
          %ul
            %li
              Created by
              %i.fa.fa-external-link-square.light
              %a.light.bold{:href => 'http://www.yegor256.com'} Yegor Bugayenko
              路
          %br
          %ul
            %li
              %a{:href=>'https://github.com/yegor256/sixnines/stargazers'}
                %img{:src=>'https://img.shields.io/github/stars/yegor256/sixnines.svg?style=flat-square'}
            %li
              %a{:href=>'http://www.sixnines.io/h/3b05e836'}
                %img{:src=>'http://www.sixnines.io/b/3b05e836'}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1963507-50', 'auto');
      ga('send', 'pageview');
