-# SPDX-FileCopyrightText: Copyright (c) 2017-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h1
  Terms of Use

%p
  "Six nines" is what service
  %a{href: 'https://en.wikipedia.org/wiki/High_availability'} availability
  is called when it is equal to
  %strong 99.9999%
  (one mistake per a million attempts).
  To claim such a
  high availability we have to make at least a million measurements,
  which will take at least two years if we measure every minute.
  SixNines is providing such a long-term service for
  small and medium websites, which can't afford bigger enterprise-size
  solutions.

%p
  SixNines is owned and managed by
  %a{href: 'https://www.zerocracy.com'} Zerocracy, Inc.
  (470, 555 Bryant Str, Palo Alto, CA 94301, USA, 860.506.5536).
  All payments are processed via
  %a{href: 'https://www.stripe.com'} Stripe
  (USA).

%p
  SixNines charges
  %strong $4.95
  every time you add a new URI to check.
  But you don't pay anything else, ever.

%p
  SixNines will be up and running at least until
  %strong April 1st, 2027
  and if we shut the business down earlier, you will get a full refund from us
  for all purchases you've made.

%p
  SixNines refunds any of your payments within
  %strong 90 days
  without any questions asked. Just
  %a{href: 'mailto:refund@sixnines.io'} email us
  and you get a full refund.

%p
  SixNines is an
  %strong open source
  product. You're very welcome to
  %a{href: 'https://github.com/yegor256/sixnines'} contribute
  via GitHub.

%p
  SixNines is hosted by Heroku.

%p
  Our logo is made by
  %a{href: 'https://www.flaticon.com/authors/daniel-bruce'} Daniel Bruce
  from
  %a{href: 'https://www.flaticon.com'} flaticon.com
