%h1
  Terms of Use

%p
  SixNines is owned and managed by
  %a{:href=>'http://www.technoparkcorp.com'} TechnoPark Corp.
  (470, 555 Bryant Str, Palo Alto, CA 94301, USA, 860.506.5536).
  All payments are processed via
  %a{:href=>'https://www.stripe.com'} Stripe
  (USA).

%p
  We refund any payment in 90 days without any questions.
  Just
  %a{:href=>'mailto:refund@sixnines.io'}
    email us
  and you get a full refund.

%p
  SixNines is an open source product.
  You're very welcome to
  %a{:href=>'https://github.com/yegor256/sixnines'} contribute
  via GitHub.
