@import 'responsive';

// elements variables
$radius: 3px;
$base: 16px;
$controls-padding: $base / 3;

// switch to different screens
$switch-mobile: 450;
$switch-tablet: 700;
$switch-wide: 1600;

// colors
$background: #fcfcfc;
$text: #6f6f6f;
$green: #4c1;
$blue: #07a;
$orange: #e90;
$bright: #dd4a68;
$red: #dc5b21;
$input: #fff;

body {
  line-height: 1.4em;
  overflow-x: scroll;
  background-color: $background;
  color: $text;
  font-size: $base;
  font-family: monospace;
  padding: 1.5em 4em;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

fieldset {
  border: 0 solid;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid;
  }
}

.favicon-small {
  height: 20px;
  width: 20px;
}

.favicon-big {
  height: 40px;
  width: 40px;
}

.shadowed {
  text-shadow: 1px 1px 0 #fff;
}

ul.hor {

  li {
    //background-color: red;
    display: inline-block;
  }
}

%control {
  border-radius: $radius;
  outline: none;
  position: relative;
  white-space: nowrap;
  padding: $controls-padding *2 $controls-padding;
  margin: 0 $controls-padding $controls-padding 0;
  font-size: $base;
}


input[type='text'],
input[type='url'] {
  @extend %control;
  background-color: $input;
  border: 1px solid darken($background, 20);
  cursor: text;

  &:focus,
  &:active {
    box-shadow: inset 0 0 10px darken($background, 10);
  }
}

:input-placeholder {
  color: $text;
}

button[type='submit'],
input[type='submit'] {
  @extend %control, .bold;
  background-color: $blue;
  color: $background;
  border: 0;
  padding: $controls-padding * 2;
}
