---
name: rake
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        ruby: ['2.7']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: sudo apt-get install --yes inkscape
      - run: bundle config set --global path "$(pwd)/vendor/bundle"
      - run: bundle install
      - run: bundle exec rake
